# Data set and scripts
scripts/
dataset/baidu_stopwords.txt
dataset/info.dump
*.ttl
dataset/*.json
dataset/bert-base-squad2
backend/*json

# modules
frontend/node_modules/
frontend/package-lock.json
__pycache__/

# Editor auxiliary directories and files
.vscode
.metals/
*.swp